<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage cacheDirectory=".cache/phpunit-coverage"
              includeUncoveredFiles="true"
              processUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <!--
            <clover outputFile="build/report/clover.xml"/>
            <crap4j outputFile="build/report/crap4j.xml" threshold="50"/>
            -->
            <html outputDirectory="build/report/html-coverage" lowUpperBound="50" highLowerBound="90"/>
            <!--
            <php outputFile="build/report/coverage.php"/>
            <text outputFile="build/report/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
            <xml outputDirectory="build/report/xml-coverage"/>
            -->
        </report>
    </coverage>

    <testsuites>
        <testsuite name="Rayne\Ecoji">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
