<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/coverage.xml"/>
        <log type="coverage-html" target="build/coverage"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>

    <testsuites>
        <testsuite name="Rayne\Ecoji">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>